microservices_book/basic-server/server

concurrency.course/finalProject/db-data/
concurrency.course/finalProject/myapp
concurrency.course/finalProject/tmp
concurrency.course/finalProject/cmd/web/cover.out
hack_book/chapter5/subdomain_guesser/subdomain_guesser
.DS_Store
projects/mangascrapper/scrapper_tests/manga_scraps
