go 1.24.1

use (
	./algorithms
	./aoc
	./benchmarks
	./common_patterns
	./data_structures
	./games/euchre
	./projects/grpc_examples/route_guide
	./projects/grpc_examples/simple_service
	./projects/async_server
	./projects/chores
	./projects/clean_arc
	./projects/cli
	./projects/code_generation
	./projects/event_driven/mallbots
	./projects/gin_service
	./projects/links_r_us
	./projects/mocking_examples
	./projects/painting-app
	./projects/reservations_api
	./projects/schema_validator
	./projects/sqlc_tuto
	./projects/tdd_api
	./testings
)
